.search {
  font-family: 'ALS Hauss VF';
  margin-bottom: 50px;

  margin-top: 50px;

  &__hints {
    display: flex;
    align-items: center;
    span {
      font-size: 22px;
      font-style: normal;
      font-weight: 550;
      line-height: 24px;
      color: #000;
      margin: 0px 8px;
    }
    p {
      font-size: 22px;
      margin-left: 1px;
      margin-right: 8px;
    }
  }

  &__item {
    border-radius: 8px;
    margin-top: 3px;
    background: #f6f6fa;
    padding: 4px 6px 8px 6px;
    border-radius: 8px;
    text-decoration: none;

    div {
      font-size: 22px;
      font-style: normal;
      font-weight: 550;
      line-height: 24px;
      cursor: pointer;
      background: linear-gradient(93deg, #da15b8 4.93%, #8d06cc 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
